<div>
  <h1>What's done?</h1>

  <ul>
    {{#each state.items key="@index" as |item index|}}
      <li><input oninput={{action input index}} value={{item}}></li>
    {{/each}}
  </ul>

  <hr>

  <ul>
    {{#each state.items key="@index" as |item|}}
      <cool-item @text={{item}} />
    {{/each}}
  </ul>
</div>