<div class="o-container u-mrg-v-10 u-pad-v-5 u-pad-v-10@md">
  <div class="o-row">
    <div class="o-col-8@md o-col-offset-2@md o-col-6@lg o-col-offset-3@lg">
      <h1 class="tx-h2 tx-300 u-mrg-b-3 tx-center">What's <strong class="tx-700">cool</strong></h1>

      {{#each state.items key="@index" as |item index|}}
        <cool-item
          @text={{item}}
          @onInput={{action onInput index}} />
      {{/each}}
    </div>
  </div>
</div>
