<div class="o-container u-mrg-v-10">
  <div class="o-row">
    <div class="o-col-8@md o-col-offset-2@md">
      <h1 class="tx-h3 tx-300">What's done?</h1>

      <ul class="c-list c-list--bullet">
        {{#each state.items key="@index" as |item index|}}
          <li><input class="c-input" oninput={{action input index}} value={{item}}></li>
        {{/each}}
      </ul>

      <hr>

      <h1 class="tx-h3 tx-300">What's cool:</h1>

      <ul class="c-list c-list--bullet">
        {{#each state.items key="@index" as |item|}}
          <cool-item @text={{item}} />
        {{/each}}
      </ul>
    </div>
  </div>
</div>