<div class="o-flexy o-flexy--gap-md u-mrg-b-2">
  <div class="o-flexy__item">
    {{emoji}}
  </div>
  <div class="o-flexy__block">
    <input
      class="c-input"
      oninput={{action onInput}}
      value={{text}}
      placeholder="What's done?" />
  </div>
</div>
